.layers-contol .card-content h3
{
	font-size: 1em;
	margin: 1em 0 0.5em 0;
}

.layers-contol h2
{
	margin: 0;
}

.layers-contol .material-card-header
{
	padding-bottom: 0;
}

.layers-contol .MuiCardHeader-content
{
	text-align: center;
}

.layers-contol .hidden
{
	display: none;
}

.layers-contol .layerInfo
{
	position: absolute;
}