.layers-control h2
{
	margin: 0;
}

.layers-control .material-card-header
{
	padding-bottom: 0;
}

.layers-control .MuiCardHeader-content
{
	text-align: center;
}

.layers-control .hidden
{
	display: none;
}

.layers-control .layerInfo
{
	position: absolute;
}

.layers-control .polygonLayersList .MuiListItemIcon-root
{
	min-width: 42px;
}

.layers-control .polygonLayersList .counter .counterContainer
{
	text-align: center;
}

.layers-control .polygonLayersList .counter .counterFilterButton
{
	margin-left: 24px;
}

.layers-control .polygonLayersList .svg-inline--fa
{
	font-size: 1.125rem;
}

.layers-control .polygonLayersList .counterText.withButton
{
	margin-left: -42px;
}