.layers-control .card-content h3
{
	font-size: 1em;
	margin: 1em 0 0.5em 0;
}

.layers-control h2
{
	margin: 0;
}

.layers-control .material-card-header
{
	padding-bottom: 0;
}

.layers-control .MuiCardHeader-content
{
	text-align: center;
}

.layers-control .hidden
{
	display: none;
}

.layers-control .layerInfo
{
	position: absolute;
}