.data-pane-card p {
	font-size: 0.8em;
	text-align: left;
	margin-top: 0;
}

.data-pane-card a {
	font-size: 0.66em;
	line-height: 0.65;
	text-align: left;
	margin-top: 0;
}

.data-pane-card .loading-spinner
{
	position: relative;
	top: 0;
	left: 5px;
}